.cancel {
  opacity: 0.5;
}
.error {
  color: #CF1322;
}
a {
  color: #E6FFFB;
  font-weight: 700;
}
.deposit {
  margin-left: 2px;
}
.select {
  display: flex;
  align-items: center;
  color: #E6FFFB;
  opacity: 0.5;
  margin-right: 3px;
}

